<!-- Modal Close solved topic -->
<div class="modal fade" id="topicSolvedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">Notificatie</h4>
            </div>
            <div class="modal-body">
                <p>Voordat je het topic sluit, is het van belang dat je de juiste reactie als oplossing markeert. Indien je het niet zeker weet, klik dan eerst op het kruisje en druk daarna onder de reactie met de oplossing op "Oplossing".</p>
                <p>Dit is van belang omdat bezoekers dan weten in welke reactie de oplossing van het topic staat vermeld. Als er geen oplossing in het topic staat, geef dan in het topic aan dat het gesloten mag worden.</p>
            </div>
            <div class="modal-footer">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="cbCorrectMarked">
                    <label class="custom-control-label" for="cbCorrectMarked">Ja, ik heb de juiste oplossing gemarkeerd.</label>
                </div>
                <button type="button" class="btn btn-success" id="btnCloseModal">Sluit topic</button>
            </div>
        </div>
  
    </div>
</div>

<!-- Modal Reopen solved topic -->
<div class="modal fade" id="topicReopenModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">Notificatie</h4>
            </div>
            <div class="modal-body">
                <p>Weet je zeker dat je [opgelost] ongedaan wilt maken, en het topic wilt heropenen.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnReopenModal" data-dismiss="modal">Ja</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nee</button>
            </div>
        </div>
  
    </div>
</div>